<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
    <%- include("../imports.ejs") %>
</head>
<body>
    <h1>The Fruits App</h1>
    
    <div class="main">
        <h2>Edit Page</h2>
        <form method="post" action="/animal/<%= oneAnimal._id%>?_method=PUT">
            <label>Species: <br><input type="text" name="species" value="<%=oneAnimal.species%>"  /></label><br>
            <label>Location: <br><input type="text" name="location"value="<%=oneAnimal.location%>" /></label><br>
            <label> LifeExpectancy: <br><input type="number" name="lifeExpectancy" value="<%=oneAnimal.lifeExpectancy%>" /></label><br>
            <label> Extinct: <input type="checkbox" name="extinct" <%=oneAnimal.extinct ? "checked": "" %> /></label><br>
            <div style="display:inline-flex">
                <input class="submits"type="submit"  value="Edit"/>
                <a href="/animal"><button class="submits">Home Page</button></a>
            </div>
        </form>
    </div>
    
</body>
</html>